
 .thead_tpa th {   
    background-color: #efefef;
    color: #545454;
    padding: 5px;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.tbody_tpa tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.tbody_tpa td {
    padding: 5px;
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding-right: 10px;
}

.tbody_tpa tr:hover {
    background-color: #f1f1f1;
}

.tbody_tpa tr td:first-child {
    padding-left: 10px;
}

.td_center {
    text-align: center;
}

.td_right {
    text-align: right;
}

.td_red {
    color: red;
}

.td_bold {
    font-weight: bold;
}
.td_green {
    color: green;
}
.td_blue {
    color: blue;
}


label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: rgb(17 24 39);
}

input {
    width: 100%;
    display: block;
    background-color: rgb(249 250 251);
    border: 1px solid rgb(209 213 219);
    color: rgb(17 24 39);
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #7c6fec;
    /* padding: 0.5rem 1rem; */
}

input:focus {
    border-color: rgb(59 130 246);
    outline: none;
    --tw-ring-color: rgb(59 130 246);
}

.input_info {

    width: 100%;
    display: block;
    background-color: rgb(249 250 251);
    padding: 0.5rem;
    color: #7c6fec;
    /* padding: 0.5rem 1rem; */
}


textarea {
    width: 100%;
    display: block;
    background-color: rgb(249 250 251);
    border: 1px solid rgb(209 213 219);
    color: rgb(17 24 39);
    border-radius: 0.5rem;
    padding: 1rem;
    /* padding: 0.5rem 1rem; */
}

select {
    width: 100%;
    display: block;
    background-color: rgb(249 250 251);
    border: 1px solid rgb(209 213 219);
    color: rgb(17 24 39);
    border-radius: 0.5rem;
    padding: 0.5rem;
    /* padding: 0.5rem 1rem; */
}

/* select:optional {
    color: rgb(209 213 219);
} */

select:focus {
    border-color: rgb(59 130 246);
    outline: none;
}