@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-uck909');
  src:url('fonts/icomoon.eot?#iefix-uck909') format('embedded-opentype'),
    url('fonts/icomoon.woff?-uck909') format('woff'),
    url('fonts/icomoon.ttf?-uck909') format('truetype'),
    url('fonts/icomoon.svg?-uck909#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


*
  font-size 0.98em

#agrupar
  width 800px
  margin 10px auto

#encabezado
  overflow hidden
  -mz-overflow hidden
  border-bottom 1px solid #ccc
  #imagen
    width 220px
    float left
    img
      width 200px
  #titulo
    color #fff
    width 450px
    float left
    text-align center
    font-size 1.1em
    font-weight bold
    padding-top 10px
    margin 0
    text-decoration underline
  #usuario
    width 350px
    float right
    text-align right

#solicitud
  border 1px solid #ccc
  border-radius 10px
  box-shadow 5px 5px 10px #ccc
  padding 10px
  background #fff
  overflow hidden

fieldset
  padding 5px

#cabecera
  #asesor
    float left

#cabecera #asesor, #cabecera #fecha
  width 40%

#alta_sol
  margin 10px

#cuerpo_asesor
  border 1px solid #ccc
  border-radius 10px
  box-shadow 5px 5px 10px #ccc
  padding 10px
  background #fff
  margin-top 10px
  width 100%
  thead
    background #7093DB
    text-align center
    font-weight bold
    font-style italic
    color white
    font-size 1em

table
  tbody
    tr
      &:hover
        background #E6EFFF

.fila
  width 100%
  overflow hidden
  margin 1px 5px

#agregar_l
  width 30px
  height 25px
  float left
  cursor pointer
  margin-bottom 2px
  box-shadow 2px 2px 1px #778899
  border-radius 5px
  background #f8f8ff
  text-align center
  border 1px solid #ccc
  &:active
    width 30px
    height 25px
    float left
    cursor pointer
    box-shadow 2px 2px 1px #ccc inset

