*{

	font-size: 0.98em;

}

#agrupar {
	width: 800px;
	margin: 10px auto;
	
}

#encabezado {
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}

#encabezado #imagen {
	width: 350px;
	float: left;
}

#encabezado #imagen img{
	width: 200px;
}

#encabezado #titulo {
display: none;	
}
#alta_sol {
	display: none;
}

#encabezado #usuario {
display: none;
}

#menu{

	display: none;
}
.flechas {
display: none;	
}

#solicitud {
	
	background: #fff;
	overflow: hidden;
}

fieldset {
	padding: 5px;
}


#opcion {
	display: none;
}

#ingreso_codigo {
	display: none;
}

#detalle {
	text-align: center;
}

#derecha, #izquierda {
	width: 49%;
	float: left;
	margin: 0 2px;
	border: 1px solid #ccc;
}

#act_ajax table {
	width: 100%;
	
}

#act_ajax table thead {
	background: #ccc;
}

#act_ajax table tr{
	height: 23px;
}
#act_ajax table tr td:last-child{
	display: hidden;
	height: 23px;
}

/*table tr td:last-child
{
	display: none;
}*/

#lineauno, #lineados {
	overflow: hidden;
}


#lineauno div { 
	float: left;
	margin: auto 3px;
}

#lineados div {
	float: left;
	margin: 0;
}

 .fila {
 		width: 100%;
		float: left;
		overflow: hidden;
		margin: 1px 5px;
}

.fila div {
		 float: left;
		 margin: auto 3px;
		 text-align: center;
}
#btn_gdr {
	display: none;
}

#volver {
	display: none;
}

#atras { 
		display: none;
}

table thead tr {
	background: #ccc;
}