body
	
	.text_center
		text-align center

	.text_left
		text-align left	
	
	.titulos
		margin 0 auto
		
		width 80%
		border 1px solid #000 //borde
		
		h1
			text-align center
			font-size 1.2em
			text-decoration: underline
			font-style italic

	.sub_titulos
		margin 0 auto
		width 80%
	
		h1
			font-size 1em
			font-style italic	

	.ventas
		border 1px solid #000 //borde

		.sucursal
			font-size 16px
			padding 5px 5px
			
			.det_suc, .tot_suc, .criterios
				display inline-block

			.det_suc
				display inline-block
				width 150px	
				font-size 1.2em
				font-style italic
				font-weight bold

			.tot_suc
				width 100px

			.criterios
				
				.ver_vtas
					width 150px	
					margin 0 10px	

	.totales
		text-align right
		color red

	.gral
		text-align left				

	
	.ventas
		font-size 12px
		margin 0 auto
		width 80%

		table
			width 100%
			border 1px solid black
			border-collapse collapse			
			thead
				background #FF8000
				color white
				text-align center
				font-size 0.8em


			tbody
				text-align left	
				font-size 0.8em

			td	
				border 1px solid black
			



